<h6 class="text-center">Fridge Items</h6><br />
<div class="row">
  <div class="col-md-4">
    <mat-form-field>
      <mat-select [(value)]="val" placeholder="Show items less than">
        <mat-option *ngFor="let fillValue of itemService.fillFactorValues" [value]="fillValue.value">
          {{fillValue.fillFactor}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-4">
    <mat-form-field>
      <mat-select [(value)]="val" placeholder="Show by item type">
        <mat-option *ngFor="let typeValue of itemService.itemTypeValues" [value]="typeValue.value">
          {{typeValue.type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<mat-accordion>
  <mat-expansion-panel *ngFor="let item of itemList">
    <mat-expansion-panel-header *ngIf="item.fillFactor <= val || item.itemType == val">
      <mat-panel-title>
        <h6> {{item.name}}</h6>
      </mat-panel-title>
      <mat-panel-description>
        Item Type: {{item.itemType}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    Fill Factor at: <h2>{{item.fillFactor * 100}}%</h2>
    <mat-action-row>
      <button mat-button (click)="onEdit(item)">Edit</button>
      <button mat-button (click)="onDelete(item.itemUUID)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>