<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="itemService.selectedItem.$key">
<mat-form-field>
  <input matInput type="text" placeholder="Name" name="name" #name="ngModel" [(ngModel)]="itemService.selectedItem.name">
</mat-form-field>
<mat-form-field>
  <input matInput type="text" placeholder="Item Type" name="itemType" #name="ngModel" [(ngModel)]="itemService.selectedItem.itemType">
</mat-form-field>
<mat-form-field>
  <input matInput type="text" placeholder="Fill Factor" name="fillFactor" #name="ngModel" [(ngModel)]="itemService.selectedItem.fillFactor">
</mat-form-field>
<div class="form-group">
    <button class="btn btn-default" type="submit" [disabled]="!itemForm.valid">
        <i class="fa fa-floppy-o"></i>
         Submit</button>
      <button class="btn btn-default" type="button" (click)="resetForm(itemForm)">
        <i class="fa fa-repeat"></i>
         Reset</button>
</div>



</form>








