<h4>Add Fridge Items</h4>
<mat-card>
  <form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
    <input type="hidden" name="itemUUID" #itemUUID="ngModel" [(ngModel)]="itemService.selectedItem.itemUUID">
    <mat-form-field>
      <input matInput type="text" required placeholder="Name" name="name" #name="ngModel" [(ngModel)]="itemService.selectedItem.name">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select matNativeControl required placeholder="Item Type" name="itemType" #name="ngModel" [(ngModel)]="itemService.selectedItem.itemType">
        <mat-option *ngFor="let itemType of itemService.itemTypeValues" [value]="itemType.value">
          {{itemType.type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select required placeholder="Fill Factor" name="fillFactor" #name="ngModel" [(ngModel)]="itemService.selectedItem.fillFactor">
        <mat-option *ngFor="let fillValue of itemService.fillFactorValues" [value]="fillValue.value">
          {{fillValue.fillFactor}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <button mat-fab color="primary" type="submit" [disabled]="!itemForm.valid">Submit</button>
        </div>
        <div class="col-md-3">
          <button mat-fab color="accent" type="button" (click)="resetForm(itemForm)">Reset</button>
        </div>
      </div>
    </div>
  </form>
</mat-card>